beautifulsoup4==4.6.0
Flask==0.12.2
Flask-Cors==3.0.7
gunicorn==19.9.0
itsdangerous==0.24
oauthlib==2.1.0
requests==2.13.0
requests-oauthlib==1.0.0
urllib3==1.26.5
webencodings==0.5.1
websocket-client==0.40.0
